{
	"$schema": "https://json.schemastore.org/prettierrc",
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"importOrder": ["^discord.js$", "<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
